body {
  background-color: white;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: URL("Hi12.png"); /* Replace with your image path */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center center; /* Center the background image */
  background-size: 1520px 900px; /* Cover the entire body with the background image */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white ;
  backdrop-filter: blur(5px) hue-rotate(-30deg); /* Blur effect */
  border-bottom: 1px solid #ccc;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 5rem; /* Adjust font size as needed */
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

nav li {
  display: inline-block;
  margin-right: 0;
  transform: perspective(100px); /* 3D perspective for hover effect */
  transition: transform 0.2s ease-in-out; /* Transition for hover effect */
}

/* Add margin-right to all links except the last one */
nav li:not(:last-child) {
  margin-right: 60px; /* Adjust spacing between links */
}

a {
  text-decoration: none;
  color: black;
  padding: 10px 20px; /* Add padding for better box appearance */
  display: block; /* Make link fill entire list item */
}

main {
  text-align: center;
  padding: 100px 0;
}

.title {
  display: flex;
  flex-direction: column; /* Stack words vertically */
  align-items: center; /* Center horizontally */
  margin-left: 50px;
}

.title h2:nth-child(1) {
  color: red;
}

.title h2:nth-child(2) {
  color: blue;
}

.title h2:nth-child(3) {
  color: yellow;
}

.title h2:nth-child(4) {
  color: green;
}

.title h1,
.title h2 {
  margin: 0 10px;
}

.animation-container {
  margin-top: 50px;
}

/* New styles for hover effects and 3D transform */
nav a:hover {
  color: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Hover color (white) */
  transform: translateY(-5px); /* Slight upward movement on hover */
  /* Combine box-shadow and transition for hover effect */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

h3 {
  font-size: 1.9rem;
  margin: 0;
  font-family: Tan Nimbus;
  padding: 25px;
}

